<div style="background-color: #111B20 ">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-3">
                    <ul style="list-style: none; text-align: center;font-size: 12px;padding: 10px 0 10x 0">
                        <br><br>

                        <li style="color: #909497 ;padding: 15px;">ABOUT</li>
                        <li style="color: white;padding: 6px;"><a href="#" style="color: white;">Contact Us</a></li>
                        <li style="color: white;padding: 6px;"><a href="#" style="color: white;">About Us</a></li>
                        <li style="color: white;padding: 6px;"><a href="#" style="color: white;">Careers</a></li>
                        <li style="color: white;padding: 6px;"><a href="#" style="color: white;">Flipcart Stories</a></li>
                        <li style="color: white;padding: 6px;"><a href="#" style="color: white;">Press</a></li><br><br>

                    </ul>

                </div>
                <div class="col-3">
                    <ul style="list-style: none; text-align: center;font-size: 12px;padding: 10px 0 10x 0">
                        <br><br>

                        <li style="color: #909497 ;padding: 15px;">HELP</li>
                        <li style="color: white;padding: 6px;"><a href="#" style="color: white;">Payments</a></li>
                        <li style="color: white;padding: 6px;">
                            <a href="#" style="color: white;">Shipping</a>
                        </li>
                        <li style="color: white;padding: 6px;">
                            <a href="#" style="color: white;">Cancellation & Returns</a>
                        </li>
                        <li style="color: white;padding: 6px;"><a>FAQ</a></li>
                        <li style="color: white;padding: 6px;">
                            <a href="#" style="color: white;">Rrport</a>
                        </li><br><br>

                    </ul>

                </div>
                <div class="col-3">
                    <ul style="list-style: none; text-align: center;font-size: 12px;padding: 10px 0 10x 0">
                        <br><br>

                        <li style="color: #909497 ;padding: 15px;">POLICY</li>
                        <li style="color: white;padding: 6px;"><a href="#" style="color: white;">Return Policy</a></li>
                        <li style="color: white;padding: 6px;">
                            <a href="#" style="color: white;">Terms Of Use</a>
                        </li>
                        <li style=" color: white;padding: 6px; "><a href="#" style="color: white;">Security</a></li>
                        <li style="color: white;padding: 6px; "><a href="#" style="color: white;">Privacy</a></li>
                        <li style="color: white;padding: 6px; "><a href="#" style="color: white;">Press</a></li><br><br>

                    </ul>

                </div>

                <div class="col-3">
                    <ul style="list-style: none; text-align: center;font-size: 12px;padding: 10px 0 10x 0">
                        <br><br>

                        <li style="color: #909497 ;padding: 15px;">SOCIAL</li>
                        <li style="color: white;padding: 6px;"><a href="#" style="color: white;">facebook</a></li>
                        <li style="color: white;padding: 6px;"><a href="#" style="color: white;">twitter</a></li>
                        <li style="color: white;padding: 6px;"><a href="#" style="color: white;">you tube</a></li>
                        <li style="color: white;padding: 6px;"><a href="#" style="color: white;">instagram</a></li>
                        <li style="color: white;padding: 6px;"><a href="#" style="color: white;">Press</a></li><br><br>

                    </ul>

                </div>






            </div>
        </div>


        <div class="col-6">
            <div class="row">
                <div class="col-6"><br><br>
                    <hr class="vertical">
                    <span style="font-size: 12px;padding: 10px 0 10x 30px;color:#909497 ;text-align: center;padding-left: 100px;">Mail Us :</span><br>
                    <ul style="font-size: 12px;color: white;padding-left:60px;list-style: none;">
                        <li>Flipkart Internet Private Limited,</li>
                        <li>Buildings Alyssa, Begonia &</li>
                        <li>Clove Embassy Tech Village,</li>
                        <li>Outer Ring Road, Devarabeesanahalli Village,</li>
                        <li>Bengaluru, 560103,</li>
                        <li>Karnatka ,Mumabai</li>

                    </ul>

                </div>



                <div class="col-6"><br><br>
                    <span style="font-size: 12px;padding: 10px 0 10x 30px;color:#909497 ;text-align: center;padding-left: 100px;">Registered Office Address :</span><br>
                    <ul style="font-size: 12px;color: white;padding-left: 70px;list-style: none;">
                        <li>Flipkart Internet Private Limited,</li>
                        <li>Buildings Alyssa, Begonia &</li>
                        <li>Clove Embassy Tech Village,</li>
                        <li>Outer Ring Road, Devarabeesanahalli Village,</li>
                        <li>Bengaluru, 560103,</li>
                        <li>Karnatka ,Mumabai</li>
                        <li>Telephone : <span style="color: blue;">9137842523</span></li>

                    </ul>

                </div>


            </div>


        </div>








        <!--half footer completa-->

        <hr class="verticat2">
        <br>
        <!--
        <div style="float: left;font-size: 15px;">
            <div style="color: white;padding-left: 80px;"><i class='fas fa-shopping-bag' style='font-size:15px; color: yellow;'></i><span style="padding-left: 10px;">Sell On Flipkart</span></div>
            <div style="color: white;padding-left: 80px;"><i class='far fa-star' style='font-size:15px;color: yellow;'></i>
                <spann style="padding-left: 10px;">Advertisers</span>
            </div>

        </div>-->
        <i class='fas fa-shopping-bag' style='font-size:15px; color: yellow;padding-left: 40px; margin-top: 2px;'></i><span style="padding-left: 10px;color: white;font-size: 13px;">Sell On Flipkart</span>
        <i class='fas fa-shopping-bag' style='font-size:15px; color: yellow;padding-left: 40px; margin-top: 2px;'></i><span style="padding-left: 10px;color: white;font-size: 13px;">Sell On Flipkart</span>
        <i class='fas fa-shopping-bag' style='font-size:15px; color: yellow;padding-left: 40px; margin-top: 2px;'></i><span style="padding-left: 10px;color: white;font-size: 13px;">Sell On Flipkart</span>
        <i class='fas fa-shopping-bag' style='font-size:15px; color: yellow;padding-left: 40px; margin-top: 2px;'></i><span style="padding-left: 10px;color: white;font-size: 13px;">Sell On Flipkart</span>
        <span style="padding-left: 50px;color: white;font-size: 13px;">@2007-2020 Flipkart.com  </span>
        <img style="padding-top: 5px;padding-left: 100px;height:90%;" src="https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/payment-method_b3ab24.svg">
        <br>
        <br>


    </div>