<body>
    <div id="navbar">
        <div><span id="flipkart"><i>Flipkart</i></span>
            <span id="explore">Explore</span>
            <span id="plus">Plus</span></div>

        <div class="form-inline my-2 my-lg-0">
            <input id="serchbox" class="form-control mr-sm-2" type="search" placeholder="Search for products,brands and more">

        </div>
        <div class="dropdown">
            <button style="width: 150px;font-weight: 600;height: 30px; " class="dropbtn">Login
              <i class="fa fa-caret-down"></i>
            </button>




        </div>



        <!--log in btn complete-->

        <div class="more">
            <div class="morespan">More &nbsp;<i class='fas fa-angle-down' style='font-size:15px;color:white'></i></div>

        </div>
        <div class="cart">
            <div class="cartin"><i class='fas fa-shopping-cart' style='font-size:18px;color:white'></i>&nbsp;&nbsp;Cart</div>

        </div>
    </div>
    <!--navbar comlete-->






</body>