<body>
    <div class="container1">
        <nav class="nav-bar">
            <ul>
                <li>Electronics &nbsp;<i class='fas fa-angle-down' style='font-size:15px;color:black'></i>
                    <div style="z-index: 1;" class="mega-menu ">
                        <div style="background-color:  #F2F3F4 " class="inner-mega-menu">
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                        </div>
                        <div class="inner-mega-menu">
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                        </div>

                        <div style="background-color:  #F2F3F4 " class="inner-mega-menu">
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                        </div>

                        <div class="inner-mega-menu">
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                            <p>Electronics</p>
                        </div>


                    </div>
                </li>
                <li>TVs & Application &nbsp;<i class='fas fa-angle-down' style='font-size:15px;color:black'></i>
                    <div style="z-index: 1;" class="mega-menu">
                        <div style="background-color:  #F2F3F4 " class="inner-mega-menu">
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                        </div>
                        <div class="inner-mega-menu">
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                        </div>

                        <div style="background-color:  #F2F3F4 " class="inner-mega-menu">
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                        </div>

                        <div class="inner-mega-menu">
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                            <p>Application</p>
                        </div>


                    </div>
                </li>
                <li>Men &nbsp;<i class='fas fa-angle-down' style='font-size:15px;color:black'></i>
                    <div style="z-index: 1;" class="mega-menu">
                        <div style="background-color:  #F2F3F4 " class="inner-mega-menu">
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                        </div>
                        <div class="inner-mega-menu">
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                        </div>

                        <div style="background-color:  #F2F3F4 " class="inner-mega-menu">
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                        </div>

                        <div class="inner-mega-menu">
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                            <p>Men</p>
                        </div>


                    </div>
                </li>
                <li>Women &nbsp;<i class='fas fa-angle-down' style='font-size:15px;color:black'></i>
                    <div style="z-index: 1;" class="mega-menu">
                        <div style="background-color:  #F2F3F4 " class="inner-mega-menu">
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                        </div>
                        <div class="inner-mega-menu">
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                        </div>

                        <div style="background-color:  #F2F3F4 " class="inner-mega-menu">
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                        </div>

                        <div class="inner-mega-menu">
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                            <p>Women</p>
                        </div>


                    </div>
                </li>
                <li>Baby & Kids &nbsp;<i class='fas fa-angle-down' style='font-size:15px;color:black'></i>
                    <div style="z-index: 1;" class="mega-menu">
                        <div style="background-color:  #F2F3F4 " class="inner-mega-menu">
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                        </div>
                        <div class="inner-mega-menu">
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                        </div>

                        <div style="background-color:  #F2F3F4 " class="inner-mega-menu">
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                        </div>

                        <div class="inner-mega-menu">
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                            <p>Baby & Kids</p>
                        </div>


                    </div>
                </li>
                <li>Sports &nbsp;<i class='fas fa-angle-down' style='font-size:15px;color:black; '></i>
                    <div style="z-index: 1;" class="mega-menu ">
                        <div style="background-color:  #F2F3F4 " class="inner-mega-menu">
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                        </div>
                        <div class="inner-mega-menu">
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                        </div>

                        <div style="background-color:  #F2F3F4 " class="inner-mega-menu">
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                        </div>

                        <div class="inner-mega-menu">
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                            <p>Sports</p>
                        </div>


                    </div>
                </li>
                <li>
                    <span>Flights</span>
                </li>
                <li>
                    <span>Offer Zone</span>
                </li>



            </ul>
        </nav>


    </div>
    <app-pic-content></app-pic-content>

</body>